
html, body 
{
    height: 100%;
}

body
{
    background-color: rgb(240, 240, 240);
}

.fill 
{ 
    min-height: 100%;
    height: 110%;
}

.container
{
    background-color: rgb(220, 220, 220);
    opacity: 0.9;
    width: 85%;
}

/* TOP */


#logo
{
    float: left;
    margin-right: 30px;
    width: 100px;
    height: 100px;
}

h1
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 30px;
    padding-bottom: 20px;
}

#searchbar
{
    background-color: slategray;
    padding: 10px;
}

#searchbar div
{
    padding-right:16px;
}

#loginbutton
{
    margin-left: 50px;
}

/* CENTER */


#map
{
    height: 60%;
    width: 100%;
    border:3px solid darkslategray;
}

/* BOTTOM */


#details
{
    margin-top: 10px;
    background-color: rgb(200, 200, 200);
    padding: 10px;
}

#resturantimage
{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

#favorite
{
    cursor: pointer;
}