
html, body 
{
    height: 100%;
}

body
{
    background-image: url('background.png'); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.container
{
    margin-top: 25px;
	/* height: 100%; */
    background-color: rgb(220, 220, 220);
    border-radius: 25px;
    opacity: 0.9;
    width: 85%;
    padding: 30px 30px;
}

.smaller
{
    float: center;
    width: auto;
    max-width: 680px;
}

/* TOP */


#logo
{
    float: left;
    margin-right: 30px;
    width: 70px;
    height: 70px;
}


#plus
{
    color: white;
    cursor: pointer;
    margin-left: 10px;
    font-size: 22px;
}

#lefty
{
  float: left;
}

#righty, .righty
{
  float: right;
}

#clearit
{
    clear: both;
}

.pagename
{
    float: left;
}

h1
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 10px;
    padding-bottom: 20px;
}

.pill-nav
{
    float:right; 
    margin-top: 15px;
}

/* Style the links inside the pill navigation menu */
.pill-nav a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 5px;
  }
  
  /* Change the color of links on mouse-over */
  .pill-nav a:hover {
    background-color: rgb(255, 183, 116);
    color: white;
  }
  
  /* Add a color to the active/current link */
  .pill-nav a.active {
    background-color: rgb(255, 139, 30);
    color: white;
  }

#searchbar
{
    width: 100%;
    background-color: slategray;
    padding: 10px;
    border:3px solid rgb(92, 92, 92);
}

#searchbar #oneliner
{
    display: inline;
}

#searchbar
{
    border-radius: 10px 10px 0px 0px;
    margin-top: 5px;
    float: right;
    right: 5px;
    color: white;
}

#loginbutton
{
    float: right;
    right: 5px;
    color: white;
    cursor: pointer;
}

/* CENTER */


#map
{
    border-radius: 0px 0px 10px 10px;
    height: 600px;
    width: 100%;
    border:3px solid rgb(92, 92, 92);
}

/* BOTTOM */


#details
{
    margin-top: 10px;
    margin-bottom: 10px;
    border:3px solid darkslategray;
    background-color: rgb(180, 180, 180);
    padding: 10px;
}

#detailshead h1
{
	display: inline;
}

#detailshead img
{
	margin-left: 10px;
	margin-top: -12px;
}

hr
{ 
  	display: block;
  	margin-top: 0.5em;
 	margin-bottom: 0.5em;
  	margin-left: auto;
  	margin-right: auto;
  	border-style: inset;
  	border-width: 1px;
} 

#detailsbody
{
	float: right;
}

#resturantimage
{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

#favorite
{
    cursor: pointer;
}

#footer
{
    clear: both;            /* clears floating elements down */
    border-radius: 5px 5px 10px 10px;
    background-color: rgb(47, 45, 54);
    color: rgb(180, 180, 180);
    margin-top: 10px;
    text-align: center;
    padding: 10px;
 	width: 100%;
}

#digitalocean, #googlemaps
{
    width: 100px;
    height: 100px;
}

#yelp
{
    width: 100px;
    height: 60px;
}

#cloudflare, #mean
{
    width: 200px;
    height: 100px;
}

#github
{
    width: 25px;
    height: 25px;
    margin-left: 10px;
}

#linkedin
{
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

#author
{
    margin-top: 5px;
}

#credits
{
    color: rgb(176,224,230);
}



/* CONTACT */

#subject, #message
{
    margin-bottom: 10px;
}

#contactpop
{
    clear: both;
    background-color: rgb(156, 202, 96);
    border:3px solid rgb(80, 102, 50);
    border-radius: 5px 5px 10px 10px;
    padding: 15px;
}


/* NEWS */

/* #subject, #message
{
    margin-bottom: 10px;
} */

#newspop
{
    clear: both;
    /* background-color: rgb(255, 255, 255); */
    border:3px solid #81694e;
    border-radius: 10px 10px 10px 10px;
    padding: 15px;
    margin-bottom: 5px;
}