/* http://blog.koalite.com/bbg/ */

.btn-yelp { 
  color: #FFFFFF; 
  background-color: #F0782D; 
  border-color: #FFD3B8; 
} 
 
.btn-yelp:hover, 
.btn-yelp:focus, 
.btn-yelp:active, 
.btn-yelp.active, 
.open .dropdown-toggle.btn-yelp { 
  color: #FFFFFF; 
  background-color: #F55E00; 
  border-color: #FFD3B8; 
} 
 
.btn-yelp:active, 
.btn-yelp.active, 
.open .dropdown-toggle.btn-yelp { 
  background-image: none; 
} 
 
.btn-yelp.disabled, 
.btn-yelp[disabled], 
fieldset[disabled] .btn-yelp, 
.btn-yelp.disabled:hover, 
.btn-yelp[disabled]:hover, 
fieldset[disabled] .btn-yelp:hover, 
.btn-yelp.disabled:focus, 
.btn-yelp[disabled]:focus, 
fieldset[disabled] .btn-yelp:focus, 
.btn-yelp.disabled:active, 
.btn-yelp[disabled]:active, 
fieldset[disabled] .btn-yelp:active, 
.btn-yelp.disabled.active, 
.btn-yelp[disabled].active, 
fieldset[disabled] .btn-yelp.active { 
  background-color: #F0782D; 
  border-color: #FFD3B8; 
} 
 
.btn-yelp .badge { 
  color: #F0782D; 
  background-color: #FFFFFF; 
}
