div#load_screen 
{
    background:  rgb(89, 150, 89);                
    opacity: 1;
    position: fixed;
    z-index: 3000;
    top: 0px;
    width: 100%;
    height: 100%;
}

div#load_screen > div#loading
{
    /* background:  rgb(118, 134, 118);                 */
    /* color: rgb(190, 190, 190); */
    width: 30%;
    height: 10%;
    text-align: center;
    padding: 10px;
    margin: 300px auto;
}