<!DOCTYPE html>
<html lang="en"> 
    <head>
        <meta charset="utf-8" />
        <title> Food Finder </title>       
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" href="favicon.png" type="image/png"/>

        <!-- Bootstrap CDN -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="artzfartz.css">   
    </head>
    <body>
        <div class="container" ng-controller="EmailController">
        
            <div id="topline">
                <div class="lefty">
                    <a href="/">
                        <img id="logo" src="favicon.png" alt="logo"/>
                    </a>
                    <h1 class="pagename">
                        Contact
                    </h1>
                </div>
                <div  class="pill-nav">
                    <a href="/">Home</a>
                    <a href="/news">News <span class="badge badge-light">2</span> </a>
                    <a class="active" href="/contact">Contact</a>
                    <a href="/about">About</a>
                </div> 
            </div>

            <div id="contactpop">
                <div>
                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" ng-model="subject">
                    <textarea class="form-control" rows="4" cols="50" name="message" id="message" placeholder="Message" ng-model="message"></textarea>
                </div>

                <button class="btn btn-dark" id="sendmessage" ng-click="sendMessage(subject, message)"> Send </button>
                <div id="righty">
                    <button class="btn btn-dark" onclick="goback()"> Cancel </button>
                </div>
            </div>

            <div id="footer">
                <div id="credits">
                    <label id="author">
                        <a id="credits" href="https://github.com/cosc-484-best-group"> Da Best Group  -  2019 </a>
                    </label>
                    <a href="https://www.linkedin.com/in/matt-stillwell-926035115/">
                        <img id="linkedin" src="linkedinwhite.png" alt="linkedin"/>
                    </a>
                    <a href="https://github.com/cosc-484-best-group/FoodFinder">
                        <img id="github" src="githubwhite.png" alt="github"/>
                    </a>
                </div>
            </div>
                        

            <!-- Bootstrap -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

            <script type="text/javascript" src="utils.js"></script>

            <!-- AngularJS -->
            <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script> 
            <script type="text/javascript" src="angapp.js"></script>
            <script type="text/javascript" src="EmailController.js"></script>

        </div>

    </body>
</html>
