<!DOCTYPE html>
<html lang="en"> 
    <head>
        <meta charset="utf-8" />
        <title> Food Finder </title>       
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" href="favicon.png" type="image/png"/>

        <!-- Bootstrap CDN -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="artzfartz.css">   
        <link rel="stylesheet" href="slider.css">   
        <link rel="stylesheet" href="custombuttons.css">   
    </head>
    <body ng-app="myApp"> <!-- tells the document its using angjs-->
        <div class="container" id="main" ng-controller="MainController" ng-init="init()">
            
            <div id="topline">
                <a href="/">
                    <img id="logo" src="favicon.png" alt="logo"/>
                </a>
                <h1>
                    Food Finder
                </h1>
            </div>

            <div id="searchbar">
                <div class="form-inline" id="oneliner">
                        <input type="text" class="form-control" name="term" id="term" placeholder="Term">
                        <input type="text" class="form-control" name="location" id="location" placeholder="Location">
                        <button class="btn btn-dark" id="submit" ng-click="yelp()"> Submit </button>
                </div>
                <button class="btn btn-dark" ng-click="nearby()"> Nearby </button>
                <a class="btn btn-dark" id="aboutbutton" href="/about"> About </a>
                <a class="btn btn-danger" id="loginbutton" ng-click="login()"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </a>
            </div>
            
            <!-- <div class="slidecontainer">
                <p>Default range slider:</p>
                <input type="range" min="1" max="100" value="50">
                
                <p>Custom range slider:</p>
                <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
              </div> -->

            <div id="map"> 
            </div>


            <div id="details" ng-show="visible">
                <div id="detailshead">
                    <h1> {{ name }} </h1>
            	    <img id="favorite" ng-src="{{ favorite }}" ng-click="favor()" alt="Favorite" />        
                </div>
				<hr>
				<div id="deatilsbody">
					<div class="row">
						<div class="col-3">
			    			<img id="resturantimage" ng-src="{{ image }}" alt="Resturant image" />
						</div>
						<div class="col-8">
                    		<h6> Shutdown: {{ shutdown }} </h6>
                 			<h6> Rating: {{ rating }} </h6>
                 			<h6> Price: {{ price }} </h6>
                 			<h6> Phone: {{ phone }} </h6>
                 			<h6> Location: {{ location }} </h6>
                 			<h6> Categories: {{ categories }} </h6>
							<h6> Address: {{ resloc }} </h6>
							<h6> Transactions: {{ transactions }} </h6>
						</div>
					</div>
				</div>
            </div>

            <div id="footer">
                <div id="credits">
                    <label id="author">
                        Matt Stillwell  -  2019
                    </label>
                    <a href="https://www.linkedin.com/in/matt-stillwell-926035115/">
                        <img id="linkedin" src="linkedinwhite.png" alt="linkedin"/>
                    </a>
                    <a href="https://github.com/cosc-484-best-group/FoodFinder">
                        <img id="github" src="githubwhite.png" alt="github"/>
                    </a>
                </div>
            </div>
			

            <!-- Outside APIs -->
            <script type="text/javascript" src="maps.js"></script>
            <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQUvuEdmTO1JRZWHILlN2hbWuCJ8PyrN8&callback=initMap"> </script>
            <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

            <!-- My Scripts -->
            <script type="text/javascript" src="utils.js"></script>
            <script type="text/javascript" src="letitflow.js"></script>

            <!-- AngularJS -->
            <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script> 
            <script type="text/javascript" src="angapp.js"></script>
            <script type="text/javascript" src="MainController.js"></script>

        </div>

    </body>
</html>
