<!DOCTYPE html>
<html lang="en"> 
    <head>
        <meta charset="utf-8" />
        <title> Food Finder </title>       
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" href="favicon.png" type="image/png"/>

        <!-- Bootstrap CDN -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="artzfartz.css">   

        <link rel="stylesheet" href="loading.css">   
        <link rel="stylesheet" href="spinkit.css">   

    </head>
    <body ng-app="myApp"> <!-- tells the document its using angjs-->
        
        <div id="load_screen">
            <div id="loading">
                <div class="sk-folding-cube">
                    <div class="sk-cube1 sk-cube"></div>
                    <div class="sk-cube2 sk-cube"></div>
                    <div class="sk-cube4 sk-cube"></div>
                    <div class="sk-cube3 sk-cube"></div>
                </div>
            </div>
        </div>

        <div class="container" id="main" ng-controller="MainController" ng-init="init()">

            <div id="topline">
                <div class="lefty">
                    <a href="/">
                        <img id="logo" src="favicon.png" alt="logo"/>
                    </a>
                    <h1 class="pagename">
                        Food Finder
                    </h1>
                </div>

                <div class="pill-nav">
                    <a class="active" href="/"> Home </a>
                    <a href="/news"> News <span class="badge badge-light"> 2 </span> </a>
                    <a href="/contact"> Contact </a>
                    <a href="/about"> About </a>
                    <a class="btn btn-danger" id="loginbutton" ng-click="login()"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </a>
                </div> 
            </div>

            <div id="searchbar">
                <div class="form-inline" id="oneliner" ng-show="!neary">
                        <input type="text" class="form-control" name="term" id="term" placeholder="Term" ng-model="term">
                        <input type="text" class="form-control" name="location" id="location" placeholder="Location (Optional)" ng-model="loc">
                </div>

                <!-- <form action="/loginaccount" method="post">
                    First name: <input type="text" name="email"><br>
                    Last name:  <input type="text" name="password"><br>
                    <input type="submit" value="Submit">
                </form> -->

                <div class="form-inline" id="oneliner" ng-show="neary">
                    <div style="border:3px solid rgb(92, 92, 92);padding:15px" id="oneliner">
                        <input id="slider" ng-mousemove="setBoxFromSlider()" type="range" min="1" max="10" value="5" step="0.1" ng-model="distance">
                        &nbsp;&nbsp;
                        <input type="textbox" id="radBox" ng-keypress="$event.key === 'Enter' ? setSliderFromBox() : null; "  name="radBox" value="" size=3></input>
                        &nbsp;
                        kilometers
                    </div>
                    <select>
                        <option value="low">low</option>
                        <option value="medium">medium</option>
                        <option value="high"> high </option>
                        <option value="expensive"> expensive </option>
                      </select>
                </div> 
                
                <a id="plus" ng-click="flip()"> {{ plus }} </a>
                
                <div class="righty" ng-show="!neary">
                    <button class="btn btn-dark" id="submit" ng-click="yelp(term, loc)"> Submit </button>
                </div>

                <div class="righty" ng-show="neary">
                    <button class="btn btn-dark righty" ng-click="nearby(distance)"> Nearby </button>
                </div>

            </div>
                
            <div id="map"></div>


            <div id="details" ng-show="visible">
                <div id="detailshead">
                    <h1> {{ name }} {{ isshutdown }} </h1>
            	    <img id="favorite" ng-src="{{ favorite }}" ng-click="favor()" alt="Favorite" ng-show="loggedin" />        

                    <a href="http://maps.apple.com/?q={{ name }}&sll={{ coordinates.latitude }},{{ coordinates.longitude }}"><img id="map" ng-src="applemaps.png" style="border:0px;width:30px;height:30px;" title="Click to open in Apple Maps" text></a> 
                    <a href="http://maps.google.com/maps/search/?api=1&query={{ name }} {{ resloc }}"><img id="map" ng-src="googlemaps.png" style="border:0px;width:30px;height:30px;" title="Click to open in Google Maps" text></a> 
                    <a href="https://waze.com/ul?ll={{ coordinates.latitude }},{{ coordinates.longitude }}&navigate=yes"><img id="map" ng-src="wazemaps.png" style="border:0px;width:30px;height:30px;" title="Click to open in Waze" text></a> 
                </div>
				<hr>
				<div id="deatilsbody">
					<div class="row">
						<div class="col-3">
			    			<img id="resturantimage" ng-src="{{ image }}" alt="Resturant image" />
						</div>
						<div class="col-8">
                            <h6> Name: {{ name }} </h6>
                            <h6> Status: {{ source }} </h6>
                 			<h6> Rating: {{ rating }} </h6>
                 			<h6> Price: {{ price }} </h6>
                 			<h6> Phone: {{ phone }} </h6>
                            <h6> Website: <a ng-href="{{ website }}"> {{ website }} </a> </h6>
                            <h6> Open Now: {{ open }} </h6> 
                            <!-- <h6> Opening Hours: {{ hours }} </h6>  -->
                            <h6> Location: {{ location }} </h6>
                 			<h6> Categories: {{ categories }} </h6>
                            <h6> Transactions: {{ transactions }} </h6>
						</div>
					</div>
				</div>
            </div>

            <div id="footer">
                <div id="credits">
                    <label id="author">
                        <a id="credits" href="https://github.com/cosc-484-best-group"> Da Best Group  -  2019 </a>
                    </label>
                    <a href="https://www.linkedin.com/in/matt-stillwell-926035115/">
                        <img id="linkedin" src="linkedinwhite.png" alt="linkedin"/>
                    </a>
                    <a href="https://github.com/cosc-484-best-group/FoodFinder">
                        <img id="github" src="githubwhite.png" alt="github"/>
                    </a>
                </div>
            </div>
            
			

            <!-- Outside APIs -->
            <script type="text/javascript" src="maps.js"></script>
            <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQUvuEdmTO1JRZWHILlN2hbWuCJ8PyrN8&callback=initMap"> </script>

            <!-- Bootstrap -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

            <!-- Backstretch -->
            <script type="text/javascript" src="jquery.backstretch.min.js"></script>
            <script type="text/javascript" src="backstretch.js"></script>

            <!-- My Scripts -->
            <script type="text/javascript" src="utils.js"></script>
            <script type="text/javascript" src="letitflow.js"></script>
            <script type="text/javascript" src="loadhider.js"></script>

            <!-- AngularJS -->
            <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script> 
            <script type="text/javascript" src="angapp.js"></script>
            <script type="text/javascript" src="MainController.js"></script>
            
        </div>

    </body>
</html>
